<% if current_employee.admin? %>

<% if current_employee %>

    <p>Employee ID: <%= current_employee.id %></p>
    <p>Employee Name: <%= current_employee.name %></p>
    <p>Employee Email: <%= current_employee.email %></p>
    <p>Employee Role: <%= current_employee.role %></p>
    

<% else %>

    <p> Aa Work nai kartu !</p>

<% end %>

    <% if current_employee.admin? %>

        <p> Admin hai !</p>

    <% else %>

        <p> Admin nai hai !</p>

    <% end %>


<% else %>

    <p> Aa Work kare che !</p>

<% end %>

<%= link_to 'Logout', destroy_employee_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to Logout?' } %>
