<!-- Task Form -->
<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="form-heading">
        <% if @status.new_record? %>
          <i class="fa fa-plus"></i> Add Status
        <% else %>
          <i class="fa fa-edit"></i> Edit Status
        <% end %>
      </div>
      <%= form_with(model: [@status], local: true, id: 'status-form') do |f| %>
      <% if @status.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>
        <ul>
          <% @status.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <% if !current_user.admin? %>
        <div class="form-group">
          <%= f.label :date, for: "date" %>
          <%= f.date_field :date, autocomplete: "date", placeholder: "Enter your Status Date here..", required: true, class: "form-control", id: "date", value: Date.today.strftime('%Y-%m-%d') %>
        </div>
        <div class="form-group">
          <%= f.label :daily_report, for: "daily_report" %>
          <%= f.text_area :daily_report, autofocus: true, autocomplete: "daily_report", placeholder: "Enter your Status's Description here..", required: true, class: "form-control", id: "daily_report" %>
        </div>
        <div class="form-group">
          <%= f.label :github_pr_link, for: "github_pr_link" %>
          <%= f.text_field :github_pr_link, required: true, class: "form-control", id: "github_pr_link", placeholder: "Enter your Github PR Link here.." %>
        </div>
      <% else  %>
        <div class="form-group">
          <%= f.label :remarks, for: "remarks" %>
          <%= f.text_area :remarks, required: true, class: "form-control", id: "remarks" %>
        </div>
      <% end %>
      <% if @status.new_record? %>
        <%= f.button class: "btn btn-primary btn-block loading-btn", type: "submit" do %>
          <i class="fa-solid fa-fw fa-floppy-disk"></i>
          <span class="loading-icon d-none"><i class="fa-solid fa-fw fa-spinner"></i> Saving...</span>
          <span class="loading-text">Save Status</span>
        <% end %>
      <% else %>
        <%= f.button class: "btn btn-primary btn-block loading-btn", type: "submit" do %>
        <i class="fa-solid fa-fw fa-cloud-arrow-up"></i>
        <span class="loading-icon d-none"><i class="fa-solid fa-fw fa-spinner"></i> Updating...</span>
        <span class="loading-text">Update Status</span>
        <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>