<%= form_with(model: [@status], local: true, id: 'status-form') do |form| %>
<% if @status.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

  <ul>
    <% @status.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form.label :date %>
<%= form.date_field :date, class: 'form-control' %>

<%= form.label :daily_report %>
<%= form.text_area :daily_report, class: 'form-control' %>

<%= form.label :github_pr_link %>
<%= form.text_field :github_pr_link, class: 'form-control' %>

<%= form.label :remarks %>
<%= form.text_area :remarks, class: 'form-control' %>

<%= form.submit 'Save Status', data: { turbo_stream: true }, class: 'btn btn-primary' %>

<%= link_to 'Add Task', new_task_path, class: 'btn-btn-secondary' %>

<% end %>
