<h1>Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Check In</th>
      <th>Check Out</th>
      <th>Daily Report</th>
      <th>GitHub PR Link</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @statuses.each do |status| %>
      <tr>
        <td><%= status.date %></td>
        <td><%= status.check_in %></td>
        <td><%= status.check_out %></td>
        <td><%= status.daily_report %></td>
        <td><%= status.github_pr_link %></td>
        <td>
          <%= link_to 'Show', status %>
          <%= link_to 'Edit', edit_status_path(status) %>
          <%= link_to 'Destroy', status, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Status', new_status_path %>
