<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon">
                <i class="fas fa-laptop-code"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Daily Status<sup></sup></div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-3">
  
        <!-- Nav Item -->
        <li class="nav-item">
          <%= link_to root_path, class: "nav-link" do %>
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>Dashboard</span>
          <% end %>
      </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-3">
  
        <!-- Nav Item -->
        <li class="nav-item">
            <%= link_to statuses_path, class: "nav-link" do %>
                <i class="fa-solid fa-fw fa-list-check"></i>
                <span>Statuses</span>
            <% end %>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-3">
  
        <!-- Nav Item - Logout -->
        <li class="nav-item">
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
                <i class="fas fa-sign-out-alt fa-fw"></i>
                <span>Logout</span>
            <% end %>
        </li>
  
  
        <!-- Divider -->
        <hr class="sidebar-divider my-3 d-none d-md-block">
  
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
  
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
  
            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <h5>Daily Status</h5>

                <!-- Container for Current Date & Time -->
                <div id="currentDateTime" class="ml-auto mr-3"></div>

                <!-- Check-in Duration -->
                <% unless current_user.admin? %>
                    <!-- Recording Tab -->
                    <div id="recordingTab" class="recordingTab align-items-center justify-content-between">
                        <div id="recordingDot" class="dot"></div>
                        <div id="checkinDuration" class="text-600"></div>
                    </div>
                <% end %>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <% if current_user.admin? %>
                        <div class="mt-4 text-primary font-weight-bold text-uppercase mb-1">
                            <i class="fa-solid fa-crown mr-1"></i>Admin
                        </div>
                    <% else %>
                    <div class="mt-3">
                        <% if TimeRecord.has_checked_in_today?(current_user) %>
                            <button class="btn btn-outline-success ml-2" disabled>
                            <i class="fas fa-check mr-1"></i>
                            Checked In
                            </button>
                        <% else %>
                            <%= link_to check_in_path, data: { turbo_method: :post, confirm: 'Are you sure you want to check in?' }, class: "btn btn-primary ml-2", id: "checkinButton" do %>
                            <i class="fas fa-sign-in-alt mr-1"></i>
                            Check In
                            <% end %>
                        <% end %>

                        <% if TimeRecord.has_checked_out_today?(current_user) %>
                            <button class="btn btn-outline-success ml-2" disabled>
                            <i class="fas fa-check mr-1"></i>
                            Checked Out
                            </button>
                        <% else %>
                            <%= link_to check_out_path, data: { turbo_method: :post, confirm: 'Are you sure you want to check out?' }, class: "btn btn-primary ml-2", id: "checkoutButton", disabled: true do %>
                            <i class="fas fa-sign-out-alt mr-1"></i>
                            Check Out
                            <% end %>
                        <% end %>
                        </div>
  
                    <% end %>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_user.name %></span>
                            <img class="img-profile rounded-circle" src="https://raw.githubusercontent.com/MeetPatel140/cdn/main/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <div class="dropdown-divider"></div>
                            <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                            <% end %>
                        </div>

                    </li>
                </ul>
            </nav>
            <!-- End of Topbar -->
  
            <!-- Begin Page Content -->
            <div class="container-fluid">
  
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">
                        <% if current_user.admin? %>
                        <%= link_to statuses_path, class: "text-dark" do %>
                          <i class="fas fa-user mr-1"></i> Employee's Statuses
                        <% end %>
                        <% else %>
                        <%= link_to statuses_path, class: "text-dark" do %>
                          <i class="fas fa-user mr-1"></i> Your Statuses
                        <% end %>
                        <% end %>
                      <% if @status.daily_report.present? %>
                        > <%= @status.daily_report %>
                      <% else %>
                        > New Status
                      <% end %>
                    </h1>
                </div>

                <%= render 'form', status: @status %>
                <!-- <%= link_to 'Back', statuses_path %> -->
                
                
            </div>
            <!-- /.container-fluid -->
  
        </div>
        <!-- End of Main Content -->
  
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Daily Status <a href="https://www.linkedin.com/in/meet-solanki-065074210/">Meet Solanki</a></span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>

  <script>
    $(document).ready(function () {
        $("#sidebarToggle").on("click", function () {
            $("#accordionSidebar").toggleClass("toggled");
            $('#dataTable').DataTable();
        });

        function updateDateTime() {
            var currentDate = new Date();
            var options = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: true };
            var formattedDateTime = currentDate.toLocaleString('en-US', options);

            document.getElementById('currentDateTime').innerText = formattedDateTime;
        }

        // Initial call to display the date and time
        updateDateTime();

        // Set up an interval to update the date and time every second
        setInterval(updateDateTime, 1000);

        // Variable to store the interval ID for the check-in duration timer
        let checkinDurationTimer;

        // Function to update the check-in duration UI
        function updateCheckinDurationUI() {
            const storedStartTime = localStorage.getItem('checkinStartTime');
            const isTimerRunning = localStorage.getItem('isTimerRunning') === 'true';
            const durationElement = document.getElementById('checkinDuration');
            const recordingTabElement = document.getElementById('recordingTab');
            if (storedStartTime && isTimerRunning) {
                const startTime = new Date(storedStartTime);
                const currentTime = new Date();
                const duration = currentTime - startTime;
                const hours = Math.floor(duration / (60 * 60 * 1000)).toString().padStart(2, '0');
                const minutes = Math.floor((duration % (60 * 60 * 1000)) / (60 * 1000)).toString().padStart(2, '0');
                const seconds = Math.floor((duration % (60 * 1000)) / 1000).toString().padStart(2, '0');
                durationElement.innerText = 'Recording Duration: ' + hours + ':' + minutes + ':' + seconds;
                durationElement.style.display = 'block'; // Show the duration
                recordingTabElement.style.display = 'flex';
                checkinDurationTimer = setInterval(updateCheckinDurationUI, 1000);
            } else {
                durationElement.style.display = 'none'; // Hide the duration
                recordingTabElement.style.display = 'none';
                // Clear the interval if timer is not running
                clearInterval(checkinDurationTimer);
            }
        }

        // Function to start the check-in duration timer
        function startCheckinDurationTimer() {
            // Update the check-in duration every second
            checkinDurationTimer = setInterval(updateCheckinDurationUI, 1000);
            const startTime = new Date();
            localStorage.setItem('checkinStartTime', startTime);
            localStorage.setItem('isTimerRunning', true);
        }

        // Function to resume the check-in duration timer
        function resumeCheckinDurationTimer() {
            const startTime = localStorage.getItem('checkinStartTime');
            localStorage.setItem('checkinStartTime', startTime);
            localStorage.setItem('isTimerRunning', true);
            updateCheckinDurationUI();
        }

        // Function to stop the check-in duration timer
        function stopCheckinDurationTimer() {
            clearInterval(checkinDurationTimer);
            localStorage.removeItem('checkinStartTime');
            // Hide the duration when the timer is stopped
            document.getElementById('checkinDuration').style.display = 'none';
            document.getElementById('recordingTab').style.display = 'none';
        }

        // Event listener for the Check-in button
        const checkinButton = document.querySelector('#checkinButton');
        if (checkinButton) {
            checkinButton.addEventListener('click', function () {
                // Start the check-in duration timer when the user checks in
                startCheckinDurationTimer();
            });
        }

        // Event listener for the Check-out button
        const checkoutButton = document.querySelector('#checkoutButton');
        if (checkoutButton) {
            checkoutButton.addEventListener('click', function () {
                // Stop the check-in duration timer when the user checks out
                stopCheckinDurationTimer();

                // Send the recorded duration to the server
                fetch('/checkout', {
                    method: 'POST'
                })
                    .then(response => {
                        // Handle response from the server
                        if (response.ok) {
                            // Success
                            console.log('Duration recorded successfully.');
                            // Update the recorded duration from the server
                            fetch('/get_recorded_duration')
                                .then(response => response.json())
                                .then(data => {
                                    if (data.recorded_duration) {
                                        // If recorded duration exists, update the UI
                                        const recordedDuration = data.recorded_duration;
                                        document.getElementById('recordedDuration').innerText = 'Recorded Duration: ' + recordedDuration;
                                    } else {
                                        // If recorded duration does not exist, reset the UI
                                        document.getElementById('recordedDuration').innerText = 'Duration: --:--:--';
                                    }
                                })
                                .catch(error => console.error('Error fetching recorded duration:', error));
                        } else {
                            // Error
                            console.error('Failed to record duration.');
                        }
                    })
                    .catch(error => {
                        console.error('Error recording duration:', error);
                    });
            });
        }

        // Fetch and update the check-in duration UI when the page loads
        updateCheckinDurationUI();
    });
</script>