<!-- Task Form -->
<div class="container">
    <div class="card">
      <div class="card-body">
        <div class="form-heading">
          <% if @task.new_record? %>
          <i class="fa fa-plus"></i> Add Task
        <% else %>
          <i class="fa fa-edit"></i> Edit Task
        <% end %>
        </div>
        <%= form_with(model: [@status, @task], local: true) do |f| %>
          <div class="form-group">
            <%= f.label :title, for: "title" %>
            <%= f.text_field :title, autofocus: true, autocomplete: "title", placeholder: "Enter your Task's Title here..", required: true, class: "form-control", id: "title" %>
          </div>
          <div class="form-group">
            <%= f.label :description, for: "description" %>
            <%= f.text_area :description, autocomplete: "description", placeholder: "Enter your Task's Description here..", required: true, class: "form-control", id: "description" %>
          </div>
          <div class="form-group">
            <%= f.label :start_time, for: "start_time" %>
            <%= f.datetime_local_field :start_time, required: true, class: "form-control", id: "start_time" %>
          </div>
          <div class="form-group">
            <%= f.label :end_time, for: "end_time" %>
            <%= f.datetime_local_field :end_time, required: true, class: "form-control", id: "end_time" %>
          </div>
          <div class="form-group">
            <%= f.label :screenshot, for: "screenshot" %>
            <%= f.file_field :screenshot, class: "form-control", id: "screenshot" %>
          </div>
          <% if @task.new_record? %>
        <%= f.button class: "btn btn-primary btn-block loading-btn", type: "submit" do %>
          <i class="fa-solid fa-fw fa-floppy-disk"></i>
          <span class="loading-icon d-none"><i class="fa-solid fa-fw fa-spinner"></i> Saving...</span>
          <span class="loading-text">Save Task</span>
        <% end %>
      <% else %>
        <%= f.button class: "btn btn-primary btn-block loading-btn", type: "submit" do %>
        <i class="fa-solid fa-fw fa-cloud-arrow-up"></i>
        <span class="loading-icon d-none"><i class="fa-solid fa-fw fa-spinner"></i> Updating...</span>
        <span class="loading-text">Update Task</span>
        <% end %>
      <% end %>
      <% end %>
      </div>
    </div>
  </div>
  