<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= "#{employee.first_name} #{employee.last_name}" %></td>
        <td><%= employee.email %></td>
        <td><%= employee.admin? ? 'Yes' : 'No' %></td>
        <td>
          <%= link_to 'Show', employee %>
          <%= link_to 'Edit', edit_employee_path(employee) %>
          <%= link_to 'Delete', employee, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Employee', new_employee_path %>
