<!DOCTYPE html>
<html>
  <head>
    <title>DailyStatusWebapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    
    <!-- Custom Files for App's Design -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/css/style.css">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/images/favicon.png" />



  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

    <!-- Custom Scripts for App's Design -->
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/js/vendor.bundle.base.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/chart.js/Chart.min.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/js/off-canvas.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/js/hoverable-collapse.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/js/misc.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/js/settings.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/js/todolist.js"></script>
    <script defer src="https://raw.githubusercontent.com/MeetPatel140/CORONA-Admin-Dark-Template-/main/assets/js/dashboard.js"></script>
    
  </body>
</html>
