<!DOCTYPE html>
<html>
  <head>
    <title>DailyStatusWebapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= yield %>
    <% if current_employee %>
      <%= link_to 'Logout', logout_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
    <% else %>
      <%= link_to 'Login', root_path %>
    <% end %>
  </body>
</html>
